<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80924735012-ei222slcmsk0pjogkvfbt3pj7s597jac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80924735012-ei222slcmsk0pjogkvfbt3pj7s597jac</string>
	<key>API_KEY</key>
	<string>AIzaSyDdqxFfqEPXF0_lEUWJDUce4I-3K5VoySI</string>
	<key>GCM_SENDER_ID</key>
	<string>80924735012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pmjs.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flat-chat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flat-chat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80924735012:ios:9b89374aaffdd663e04ab1</string>
	<key>DATABASE_URL</key>
	<string>https://flat-chat-ios.firebaseio.com</string>
</dict>
</plist>